@import "tailwindcss";

@theme {
   --color-main-green: #91bc46;
   --color-dark-green: #048737;
   --color-main-gray: #646464;
   --color-dark-gray: #1E1E1E;
   --color-light-gray: #CECECE;
   --font-geist: "Geist", sans-serif;
   --font-roboto: "Roboto", sans-serif;
   --text-xxs: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.admin-list-item {
  @apply flex justify-between items-center p-4 border-2 rounded-full border-main-gray hover:border-main-green 
}
