@import "tailwindcss";

@theme {
   --color-main-green: #91bc46;
   --color-dark-green: #048737;
   --color-main-gray: #646464;
   --color-dark-gray: #1E1E1E;
   --color-light-gray: #CECECE;
   --font-geist: "Geist", sans-serif;
   --font-roboto: "Roboto", sans-serif;
   --text-xxs: 10px;
}

html {
  scroll-behavior: smooth;
}

button {
  @apply cursor-pointer;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.admin-list-item {
  @apply flex justify-between items-center p-4 border-2 rounded-full border-main-gray hover:border-main-green 
}

.info-text {
  @apply text-main-gray md:text-base text-sm;
}

.title-text {
  @apply text-main-green md:text-2xl text-xl font-bold;
  
}

.footer-section {
  @apply flex flex-col gap-2 items-center;
}

.footer-section h4 {
  @apply text-xl font-bold;
}
.footer-section ul {
  @apply flex flex-col;
}

.legal {
  @apply md:px-10 px-2 pb-5 md:text-base leading-5 text-xs/4 text-main-gray;
}

.legal h2 {
  @apply mt-4
}

.legal-title {
  @apply md:px-10 px-2 py-5 md:py-8 md:text-2xl lg:text-3xl text-base  text-main-green font-bold;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #91bc46;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #048737;
}

* {
  scrollbar-width: thin;             
  scrollbar-color: #91bc46 transparent;
}
